<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">        

        {% block css %}<link rel="stylesheet" type="text/css" href="/themes/{{ app.request.cookies.get("user_theme") != null ? app.request.cookies.get("user_theme") : "light" }}.css">{% endblock %}
        <title>{% block title %}{% trans %}base.title{% endtrans %}{% endblock %}</title>
    </head>
    <body>
    <a href="/"><h1>{% block titre %}{% trans %}base.title{% endtrans %}{% endblock %}</h1></a>
    <h2>{% trans %}base.subtitle{% endtrans %}</h2>
    {% if app.user != null %}
    <div style="text-align:right">{% trans %}user.connected{% endtrans %} {{app.user.getEmail() }}</div>
    {% endif %}
    {% include "./menu.html.twig" %}
    <h2>{% block soustitre %}{% endblock %}</h2>

        {% block body %}
        {% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
