<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css.css">
        <title>{% block title %}Blublucar{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <a href="/"><h1>{% block titre %}Blublucar{% endblock %}</h1></a>
    {% include "./menu.html.twig" %}
    <h2>{% block soustitre %}Le covoiturage des vrais bonhommes !{% endblock %}</h2>

        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
