<div class="menu-bar">
    {% if app.user != null %}
        <a class="but shadow" href="/logout/">Se déconnecter</a>
        <a class="but shadow" href="/profil/">Profil</a>
        <a class="but shadow" href="/reservation/">Vos Réservations</a>
        <a class="but shadow" href="/commentaire">Vos Commentaires</a>
        <a class="but shadow" href="/trajet/self">Vos Trajets</a>
    {% else %}
        <a class="but shadow" href="/login/">Se connecter</a>
    {% endif %}
    <a class="but shadow" href="/trajet/liste/">Trajets</a>
</div>