<div class="menu-bar">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="but shadow" href="/logout/">Se déconnecter</a>
        <a class="but shadow" href="/profil/">Profil</a>
        <a class="but shadow" href="/reservation/">Vos Réservations</a>
        <a class="but shadow" href="/commentaire/self">Vos Commentaires</a>
        <a class="but shadow" href="/trajet/self">Vos Trajets</a>
    {% else %}
        <a class="but shadow" href="/login/">Se connecter</a>
    {% endif %}
    <a class="but shadow" href="/trajet/liste/">Trajets</a>
</div>