{% extends 'base.html.twig' %}

{% block soustitre %}Prochains départs{% endblock %}

{% block body %}
    {% for trajet in trajets %}
    <a class="ligne-wrapper shadow" href={{ path("trajet.detail", {'id' : trajet.id}) }}>
        <div> Id Trajet : {{ trajet.id }} </div>
        <div> Trajet : {{ trajet.pointDepart }} -> {{ trajet.pointArrivee }}</div>
    </a>
    {% else %}
        Aucun trajet n'est disponible.
    {% endfor %}
{% endblock %}


