{% extends 'base.html.twig' %}

{% block soustitre %}{% trans %}trips.trips{% endtrans %}{% endblock %}
{% block body %}
    {% for trajet in trajets %}
    <a class="ligne-wrapper shadow" href={{ path("trajet.detail", {'id' : trajet.id}) }}>
        <div> {% trans %}trips.id{% endtrans %} : {{ trajet.id }} </div>
        <div> {% trans %}trips.trip{% endtrans %} : {{ trajet.pointDepart }} -> {{ trajet.pointArrivee }}</div>
    </a>
    {% else %}
        {% trans %}trips.none{% endtrans %}
    {% endfor %}
{% endblock %}
